<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/theme.default.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
<header>
    <div class="row">
        <div class="col-md-1">
            <img class="hide-menu" src="assets/img/information_page/hide_menu@0.75x.png">
        </div>
        <div class="row col-md-11">
            <div class="col-md-3">

            </div>
            <div class="col-md-2">
                <ul> (株)日立物流中部
                    <a>
                        <img src="assets/img/information_page/select_box_arrow_enabled.png">
                    </a>

                </ul>

            </div>
            <div class="col-md-2">
                <ul> 中部 静岡東
                    <a>
                        <img src="assets/img/information_page/select_box_arrow_enabled.png">
                    </a>

                </ul>
            </div>
            <div class="col-md-2">

                <ul>
                    <a>
                        <img src="assets/img/information_page/avatar.png">
                    </a>
                    杉山 まtesttesttest
                </ul>
            </div>
            <div class="col-md-1">
                <a>
                    <img src="assets/img/information_page/help.png">
                </a>
                <a>
                    <img src="assets/img/information_page/icon_Settings.png">
                </a>
            </div>
            <div class="col-md-2 present-time">

            </div>

        </div>

    </div>
</header>
<hr class="hr-information">
<div class="content">
    <div>
        <div class="row box-information-menu">
            <div class="col-md-3 information-menu attendence-menu">
                <img class="img-information" src="assets/img/information_page/home_index.png">
                <div class="information-name">
                    <span>点呼</span>
                </div>
            </div>
            <div class="col-md-3 information-menu">
                <div>
                    <img class="img-information" src="assets/img/information_page/home_movie.png">
                    <div class="information-name">
                        <span>イベント一覧</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 information-menu">
                <div>
                    <img class="img-information" src="assets/img/information_page/home_map.png">
                    <div class="information-name">
                        <span>運行管理状況</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 information-menu">
                <div>
                    <img class="img-information" src="assets/img/information_page/home_kpi.png">
                    <div class="information-name">
                        <span>安全KPI</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div>
        <div>
            <img src="assets/img/information_page/icon_Info.png">
            <span>Information</span>
        </div>
        <div>
            <img src="assets/img/information_page/detail_open.png">
            <span> 2020/02/01 システムメンテナンスのお知らせ(01/16)</span>
        </div>

    </div>
</div>
<footer>
    <div>
        <span></span>
    </div>
</footer>
</body>
</html>