@media only screen and (max-width: 360px) {

    /*Page Login Mobile*/
    body {
        background-color: #F5FAFC;
    }

    .container {
        margin-top: 51px;
    }

    .form-login {
        width: 320px;
        margin: 0 auto;
        text-align: center;
    }

    .logo-login {
        width: 320px;
    }

    .form-submit-login {
        margin-top: 40.16px;
        background-color: #F5FAFC;
        padding: 0px;
    }

    .form-group {
        padding-bottom: 20px;
        width: 100%;
    }

    .form-control {
        height: 40px;
        opacity: 1;
        border: 1px solid #ACBACB;
        border-radius: 0;
        box-shadow: none !important;
        background-color: #FFFFFF;
        text-align: left;
        font: normal normal bold 18px/20px Yu Gothic;
        letter-spacing: 0px;
        color: #364F65;
    }

    .form-group input[type=text]:focus {
        background-color: #FFFFFF;
        border: 1px solid #ACBACB;
        color: #364F65;
    }

    .form-group input[type=password]:focus {
        background-color: #FFFFFF;
        border: 1px solid #ACBACB;
        color: #364F65;
    }

    #btn-submit-login {
        opacity: 1;
        text-align: center;
        letter-spacing: 0px;
        width: 100%;
        background-color: #4390DE;
        border: 1px solid #4390DE;
        border-radius: 5px;
        color: #FFFFFF;
        font: normal normal bold 18px Yu Gothi;
    }

    /*Custom Checkbox*/
    .containers {
        margin-top: 15px;
        padding-right: 40px;
        display: block;
        position: relative;
        cursor: pointer;
        font: normal normal bold 14px/20px Yu Gothic;
        letter-spacing: 0px;
        color: #364F65;
        opacity: 1;
    }

    /* Hide the browser's default checkbox */
    .containers input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 24px;
        width: 24px;
        background-color: #ffffff;
        border: 1px solid #ACBACB
    }

    /* When the checkbox is checked, add a blue background */
    .containers input:checked ~ .checkmark {
        background-color: #ffffff;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    /* Show the checkmark when checked */
    .containers input:checked ~ .checkmark:after {
        display: block;
    }

    /* Style the checkmark/indicator */
    .containers .checkmark:after {
        left: 7px;
        top: 3px;
        width: 8px;
        height: 14px;
        border: solid #ACBACB;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }


    /*Page Information Mobile */
    .navbar-hide-mb {
        display: none;
    }

    .main-header-row-mobile {
        width: 323px;
        display: inline-block;
    }

    .master-header-box {
        height: 50px;
        border: 1px solid #dbdee5;
        text-align: center;

    }

    .header-left-mobile {
        float: left;
    }

    .main-header-row-mobile .header-left-mobile {
        text-align: center;
        float: left;
        width: 10%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }

    .main-header-row-mobile .header-addr-mobile {
        text-align: center;
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        align-content: center;
        height: 50px;

    }

    .title-header {
        text-align: center;
        font: normal normal bold 18px/20px Yu Gothic;
        letter-spacing: 0px;
        color: #364F65;
        opacity: 1;
    }

    .v1-menu-information {
        padding: 0px 20px;
        margin-bottom: 0px !important;
    }

    .box-menu {
        width: 150px !important;
        height: 150px !important;
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .box-menu:hover {
        background-color: #72ace6;
    }

    .inactiveBoxMenu {
        background-color: #bfdaf3;
        pointer-events: none;
    }
    .inactiveBoxMenu .info-name{
        opacity: 30% !important;
    }

    .icon-logo img {
        width: 96px;
    }

    .icon-logo {
        margin-top: 11px;
    }

    .box-menu-2, .box-menu-4 {
        margin-right: 0px !important;
    }

    .info-name {
        margin-top: 12px;
        margin-bottom: 10px;
        text-align: center;
        font: normal normal bold 18px/20px Yu Gothic;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
    }

    .v2-information {
        padding: 0px !important;
    }

    .title-information {
        margin-bottom: 14px;
        padding: 0px 20px !important;
        text-align: left;
        font: normal normal bold 18px/20px Yu Gothic;
        letter-spacing: 0px;
        color: #364F65;
        opacity: 1;
    }

    .icon-info {
        width: 32px;
        height: 32px;
    }

    .box-content-notification {
        padding-left: 15px;
        padding-right: 20px;

    }

    .content-information {
        padding-top: 15px !important;
        padding-bottom: 0px !important;
    }

    .title-info {
        text-align: left;
        font: normal normal bold 14px/20px Yu Gothic;
        letter-spacing: 0px;
        color: #364F65;
        opacity: 1;
        padding-left: 47px;

    }

    .text-title {
        text-decoration: underline;
        font-size: 14px;
        font-weight: bold;
        line-height: 18px;
        display: flex;
    }

    .img-new {
        float: left;
        width: 48.46px;
        height: 20px;
    }

    .img-new img {
        float: left;
        width: 48.46px;
        height: 20px;
    }

    .icon-open-detail {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 5px;
        margin-right: 10px;
        float: left;
        border-radius: 5px;
        cursor: pointer;
    }

    .open-icon, .close-icon {
        width: 20px;
        height: 20px;
    }

    .detail-title {
        font-size: 14px;
        padding-left: 57px !important;
        padding-top: 10px;
        text-align: left;
        letter-spacing: 0px;
        color: #364F65;
        opacity: 1;
    }

    .notify-content {
        height: 305px;
        margin: 0px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .v3-information {
        padding: 0px 20px;
    }

    .ul-contact li {
        text-decoration: none;
        list-style-type: none;
    }

    .ul-contact {
        padding-left: 0px !important;
    }

    .contact-info-v1, .contact-info-v2 {
        text-align: left;
        letter-spacing: 0px;
        color: #364F65;
        opacity: 1;
    }

    .contact-info-v1 {
        padding-top: 20px;
    }

    .title-contact {
        text-align: left;
        font: normal normal bold 14px/20px Yu Gothic;
        letter-spacing: 0px;
        color: #364F65;
    }

    .detail-contact {
        text-align: left;
        font-size: 14px;
        letter-spacing: 0px;
        color: #364F65;
    }

    .footer {
        position: relative;
    }

    .text-footer {
        margin-left: 20px;
        padding-right: 0px;
        text-align: left;
        font-size: 11px;
        font-weight: normal;
        float: left;
    }

}